#page-header {
    min-width: 100vw;
    display: flex;
    height: 4rem;
    background-color: var(--primary-color-blue);
    padding: 12px;
    padding-bottom: 0;
    color: var(--white);
    text-decoration: none;
}   

#page-header > div {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    align-items: center;
}

#page-header > div > a {
    font-size: 1.6rem;
    color: var(--white);
    text-decoration: none;
    font-family: 'Nunito';
    font-weight: bold;
}

#page-header > div > a:hover {
    cursor: pointer;
}

#page-header > div > svg:hover {
    cursor: pointer;
}